<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
    <title>Messages</title>
    <th:block th:replace="base :: headstuff"></th:block>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<nav th:replace="base :: navbar"></nav>



<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
    </div>
    <br>
</div>

<!-- Middle Column -->
<div class="w3-col m7">
    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <!--<img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">-->
        <span class="w3-right w3-opacity">1 min</span>
        <h4>LIFEBOOK NEWS</h4><br>
        <hr class="w3-clear">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
                <!--<img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">-->
            </div>
            <div class="w3-half">
                <!--<img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">-->
            </div>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-close"></i> Delete</button>
        </div>
    </div>
    <!-- End Middle Column -->
</div>
<!-- End Grid -->
</div>

<!-- End Page Container -->
</div>
<br>

<th:block th:replace="base :: jslinks"></th:block>
</body>
</html> 